.inputBox {
    input {

        height: 2rem;
        color: var(--grey1);
        width: 100%;
        margin-top: 9.6px;
        background: var(--grey2);
        outline: 0;
        border-color: rgb(217, 216, 216);
        
    }
    
   
}

.divInput {
    display: inline-flex;
    justify-content: space-between;
    height: 3rem;
    padding: 0 18px;
    color: var(--grey1);
    width: 100%;
    background: var(--grey2);
    margin-top: 9.6px;
    align-items: center;
    text-align: center;
}
.divInput:hover{
    border: 1px solid white;
}
.error{
    color: red;
    margin-top: 6px;
}