.li{
    height: 24vh;
    list-style: none;
    border: 3px solid #f68b1d;
    padding: 1rem;

    border-radius: 6px;
    
}
.liContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.buttonsContainer{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.editButton{
    width: 50%;
    height: 2rem;
    cursor: pointer;
    border: 1px solid #f68b1d;
    background-color: #f3f3f3;
}
.deleteButton{
    width: 50%;
    height: 2rem;
    cursor: pointer;
    border: 1px solid #f68b1d;
    background-color: #f3f3f3;

}