.inputBox {
    input {

        height: 2rem;
        color: var(--grey1);
        width: 100%;
        margin-top: 9px;
        background: var(--grey2);
        outline: 0;
        border-color: rgb(217, 216, 216);
        
    }
    
    
}
.erro{
    color: red;
    margin-top: 1px;

}